In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [15]:
 # 读取数据
 train_sales_data_path = '../data/train_sales_data.csv'
 train_search_data_path = "../data/train_search_data.csv"
 train_user_reply_data_path = "../data/train_user_reply_data.csv"
 train_sales_data = pd.read_csv(train_sales_data_path)
 train_search_data = pd.read_csv(train_search_data_path)
 train_user_reply_data = pd.read_csv(train_user_reply_data_path)


#  df=data.iloc[:,:]
# 历史销量数据
# train_sales_data.head(20)

   province  adcode             model bodyType  regYear  regMonth  salesVolume
0        上海  310000  3c974920a76ac9c1      SUV     2016         1          292
1        云南  530000  3c974920a76ac9c1      SUV     2016         1          466
2       内蒙古  150000  3c974920a76ac9c1      SUV     2016         1          257
3        北京  110000  3c974920a76ac9c1      SUV     2016         1          408
4        四川  510000  3c974920a76ac9c1      SUV     2016         1          610
5        安徽  340000  3c974920a76ac9c1      SUV     2016         1          206
6        山东  370000  3c974920a76ac9c1      SUV     2016         1          503
7        山西  140000  3c974920a76ac9c1      SUV     2016         1          236
8        广东  440000  3c974920a76ac9c1      SUV     2016         1         3635
9        广西  450000  3c974920a76ac9c1      SUV     2016         1          450
10       江苏  320000  3c974920a76ac9c1      SUV     2016         1          876
11       江西  360000  3c974920a76ac9c1      SUV     2016         1          253
12       河北  130000  3c974920a76ac9c1      SUV     2016         1          306
13       河南  410000  3c974920a76ac9c1      SUV     2016         1          537
14       浙江  330000  3c974920a76ac9c1      SUV     2016         1          650
15       湖北  420000  3c974920a76ac9c1      SUV     2016         1          635
16       湖南  430000  3c974920a76ac9c1      SUV     2016         1          525
17       福建  350000  3c974920a76ac9c1      SUV     2016         1          462
18       辽宁  210000  3c974920a76ac9c1      SUV     2016         1          791
19       重庆  500000  3c974920a76ac9c1      SUV     2016         1          195

In [25]:
g = train_sales_data.groupby(train_sales_data["model"])
g.head(50)

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [12]:
# 历史搜索数据
train_search_data.tail(10)

      province  adcode             model  regYear  regMonth  popularity
31670      内蒙古  150000  a9a43d1a7ecbe75d     2017         3         297
31671      内蒙古  150000  f5d69960089c3614     2017         9        1021
31672      内蒙古  150000  f5d69960089c3614     2017        10        1062
31673      内蒙古  150000  a9a43d1a7ecbe75d     2017         5         490
31674      内蒙古  150000  f5d69960089c3614     2017        12        1236
31675      内蒙古  150000  f5d69960089c3614     2017        11         970
31676      内蒙古  150000  a9a43d1a7ecbe75d     2017         1         121
31677      内蒙古  150000  a432c483b5beb856     2016         2         184
31678      内蒙古  150000  a432c483b5beb856     2016         1         192
31679      内蒙古  150000  5d7fb682edd0f937     2017        10         489

In [14]:
train_user_reply_data.tail(10)

                 model  regYear  regMonth  carCommentVolum  newsReplyVolum
1430  feabbf46658382b9     2017         3              457            3270
1431  feabbf46658382b9     2017         4              305            2048
1432  feabbf46658382b9     2017         5              260            3036
1433  feabbf46658382b9     2017         6              757            1909
1434  feabbf46658382b9     2017         7             1133            3717
1435  feabbf46658382b9     2017         8             1604            1301
1436  feabbf46658382b9     2017         9             1494            1011
1437  feabbf46658382b9     2017        10             1065            2414
1438  feabbf46658382b9     2017        11              561            2195
1439  feabbf46658382b9     2017        12              586            4423